<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <p><h2>An error occurred while processing your request. Please contact the IT Manager to resolve this error. </h2></p>
        <p><h3>Error: @ViewBag.Error</h3></p>
        
    </hgroup>
</body>
</html>
